@import "tailwindcss";

@theme {
  --color-primary: #FFD100;
  --color-secondary: #000000;
  --color-accent: #FFB800;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-[#F9F9F9] text-secondary font-sans;
  }
}

